# Terraform module for Azure Container Apps configuration

This module configures a Docker Container hosted in an Azure Container Apps service with Terraform.

## Resources

[Azure Container Apps service pricing](https://azure.microsoft.com/pricing/details/container-apps/)
[Terraform Azure Container Apps reference](https://learn.microsoft.com/azure/templates/microsoft.app/containerapps?pivots=deployment-language-terraform)
